@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 1.1rem;
  user-select: none;
  font-family: "Space Mono", monospace;
  font-style: normal;
}

.hi {
  margin-top: 5rem;
}

@media (max-width: 768px) {
  .hi {
    margin-top: 1rem;
  }
}